body {
    background-color: lightblue;
}

div.active {
      display: block;
    }
    /* This hides the inactive divs */
div.inactive {
      display: none;
    }

.h2{
    font-size: 40;
}

.h3{
    font-size: 50;
}

.h1{
    font-size: 10;
}
